.authWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.authTitle {
    font-size: 2rem;
    font-weight: 700;
}

form.ant-form {
    width: 20%;
    margin-top: 16px;
}
