.authWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.authHeader {
    font-size: 2rem;
    font-weight: 700;
}
.authLink {
    font-size: 1.2rem;
    color: #5cb85c;
}
